body {
    background-color: rgb(209, 209, 209);
    margin: 1;
}

.title {
    color: #663399;
    background-color: rgb(209, 209, 209);
    text-align: center;
    font-size: 50px;
    width: 50%;
    margin: auto;
}

.containerGame {
    width: 606px;
    height: 606px;
    margin: 30px auto;
}

.row {
    display: flex;
}

.field {
    width: 200px;
    height: 200px;
    font-size: 100px;
    text-align: center;
    width: 50%;
    margin: auto;
    line-height: 200px;
    vertical-align: middle;
    transition: all 1s ease;
    color: #663399
}

#a1 {
    border-right: 5px solid #663399;
    border-bottom: 5px solid #663399;
}

#a2 {
    border-bottom: 5px solid #663399;
}

#a3 {
    border-left: 5px solid #663399;
    border-bottom: 5px solid #663399;
}

#b1 {
    border-right: 5px solid #663399;
}

#b3 {
    border-left: 5px solid #663399;
}

#c1 {
    border-right: 5px solid #663399;
    border-top: 5px solid #663399;
}

#c2 {
    border-top: 5px solid #663399;
}

#c3 {
    border-left: 5px solid #663399;
    border-top: 5px solid #663399;
}

.field:hover {
    background-color: rgb(190, 190, 190);
    cursor: pointer;
    transition: all 1s ease;
}

.clicked {
    background-color: rgb(200, 200, 200);
}